.header_main {
  background: linear-gradient(159.17deg, rgba(100, 17, 136, 1) -9.41%, #000 97.45%);
  padding: 10px 0;
  position: fixed;
  width: 100vw;
  top: 0;
  overflow: hidden;
  z-index: 1;

  a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 1.3px;
    transition: all 0.2s ease-out;
    position: relative;
    padding: 5px;

    &:hover {
      color: #4cd964;
      backdrop-filter: blur(20px);
    }
  }

  .left_side {
    display: flex;
    align-items: center;
    gap: 2vw;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
  }
  .toolbar{
    overflow: hidden;
  }
  .header__links{
    display: flex;
    align-items: center;
  }

  .signout_btn{
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &:hover{
      svg path{
        fill: #4cd964;
      }
      &:after{
        content: 'Sign out';
        position: absolute;
        top: 30px;
        right: 0;
        width: 50px;
        color: white;
      }
    }
    svg:not(:hover){
      path{
        fill: white;
      }
    }
  }
}