.home-page{
  background: linear-gradient(red 1%, green 100%);
  height: 100%;
}
.date-picker{
  width: 100%;
}

.upload-avatar{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}