html,body,#root{
  height: 100%;
  width: 100vw;
}
*{
  /*border: 1px solid red*/
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  overflow-x: hidden;
  width:100vw;
}

.main_wrapper{
  padding-top: 100px;
  padding-left: 18px;
}

.Toastify__toast-body > div:last-child{
  word-break: keep-all !important;
}
