@import "../../assets/styles/variables";

.chat_wrapper {
  display: flex;
  height: calc(100vh - 84px);
  width: 100%;
  overflow: hidden;

  .chat_list_wrapper {
    transition: all 0.3s;
    box-shadow: 0 0 10px 0 #000000;
    padding-top: 0;
    position: relative;
    overflow: hidden;
    flex: 0 0 250px;
    &.hide {

    }

    .chat_list_items {
      height: 100%;
      padding-top: 0;

      li {
        padding-left: 5px;
        cursor: pointer;
        gap: 10px;
        flex-wrap: nowrap;
        .name_message{
          flex: 1 1 auto;
        }
        .last_message{
          @include text_elipsis(70%);

        }
        &.active {
          background: #bb86fc;
        }

        &:not(.active):hover {
          background: #e0e0e0;
        }
      }
    }
  }


  .messages {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    .input_wrapper {
      flex: 0 1 30%;
      box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.5);
      padding: 10px;
      position: relative;

      &_flex {
        display: flex;
        gap: 20px;
      }

      .preview_image {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        backdrop-filter: blur(3px);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        img {
          width: 400px;
          height: auto;
        }
      }

      .file_name {
        width: max-content;
        display: flex;
        cursor: pointer;
        align-items: center;

        &:not(:hover) svg {
          visibility: hidden;
        }

      }

      .input {
        flex: 1 1 80%;
      }

      button {
        padding: 3px 10px;
        font-size: 14px;
        display: flex;
        gap: 5px;
        width: max-content;
        height: max-content;
      }

      label {
        padding: 3px 10px;
        min-width: unset;

        span {
          margin: 0;
        }
      }

      .recording__voice{

      }
    }
  }

  .bottom_block {
    position: relative;
  }

  .user_typing {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #57585a;
    text-transform: capitalize;
    z-index: 1;

    .typingIndicatorContainer {
      margin: 0;
    }

    .typingIndicatorBubble {
      display: flex;
      align-items: center;
      justify-content: center;
      width: max-content;
      margin: 0 8px;
    }

    .typingIndicatorBubbleDot {
      width: 4px;
      height: 4px;
      margin-right: 4px;
      background-color: #57585a;
      border-radius: 50%;
      animation-name: bounce;
      animation-duration: 1.3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    .typingIndicatorBubbleDot:first-of-type {
      margin: 0 4px;
    }

    .typingIndicatorBubbleDot:nth-of-type(2) {
      animation-delay: 0.15s;
    }

    .typingIndicatorBubbleDot:nth-of-type(3) {
      animation-delay: 0.3s;
    }

    @keyframes bounce {
      0%,
      60%,
      100% {
        transform: translateY(0);
      }
      30% {
        transform: translateY(-4px);
      }
    }
  }
}

.arrow_icon {
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding: 3px;

  &:hover {
    background: #e0e0e0;
  }
}

.arrow_to_left {
  transform: rotateZ(-180deg);
}

.messages_wrapper {
  padding: 10px 20px;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  height: calc(100vh - 200px);
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }

.infinite__scroll{
  display: flex;
  flex-direction: column-reverse;
  gap:50px;
}
  .message__item {
    display: flex;
    position: relative;

    .context_menu_wrapper{
      position: absolute;
    }
    &.my_message {
      color: green;
      justify-content: flex-end;
      max-width: 90vw;
      .item {
        background: aquamarine;
      }
    }

    &.not_my {
      color: red;
      justify-content: flex-start;
      max-width: 90vw;
      .item {
        background: #bb86fc;
      }
    }

    .item {
      text-align: left;
      gap: 10px;
      border-radius: 10px;
      flex: 0 1 45%;
      border: 1px solid #bb86fc;
      padding: 3px 10px;
      position: relative;
      display: flex;
      justify-content: space-between;
      .time{
        align-self: flex-end;
        color: #616161;
      }
      .image{
        width: 100%;
        display: flex;
        a{
          &:hover{
            color: white;
            backdrop-filter: none;
          }
        }
        img{
          width: 30%;
        }
      }
    }
  }

}