.search_wrapper {
  transition: all 0.3s;
  position: absolute;
  left: -100%;
  top: 0;
  width: 240px;
  height: 100%;
  background: #e9f6ff;
  padding:20px 5px;

  &.show {
    left: 0;
  }

  .input_wrapper{
    width: 100%;
  }


  .search_result{
    padding-top: 10px;
    cursor: pointer;
    max-height: 85%;
    overflow-y: scroll;
    &_item{
      &:hover{
        background: #ffffff;
      }
      padding: 10px 5px;
      gap: 5px;
    }
  }
}